# db
# primary
WRITE_DB_CONNECTION_HOST = host.docker.internal
WRITE_DB_CONNECTION_DATABASE = postgres
WRITE_DB_CONNECTION_USERNAME = postgres
WRITE_DB_CONNECTION_PASSWORD = casper_db_password
WRITE_DB_CONNECTION_PORT = 5432

# replica
READ_DB_CONNECTION_HOST = host.docker.internal
READ_DB_CONNECTION_DATABASE = postgres
READ_DB_CONNECTION_USERNAME = postgres
READ_DB_CONNECTION_PASSWORD = casper_db_password
READ_DB_CONNECTION_PORT = 5432

# if this variable is set, then the hourly_summarizer will re-do summarization for the time range FORCE_RECALCULATE_START_HOUR TO FORCE_RECALCULATE_START_HOUR + 1 hour
# the format should be '%Y-%m-%d %H:%M %z'
FORCE_RECALCULATE_START_HOUR = 2023-02-19 10:00 -06:00
IMPORT_DATA = false


# API config 
API_READ_DB_CONNECTION_HOST = localhost
API_READ_DB_CONNECTION_DATABASE = postgres
API_READ_DB_CONNECTION_USERNAME = postgres
API_READ_DB_CONNECTION_PASSWORD = password
API_READ_DB_CONNECTION_PORT = 5433

API_WRITE_DB_CONNECTION_HOST = localhost
API_WRITE_DB_CONNECTION_DATABASE = postgres
API_WRITE_DB_CONNECTION_USERNAME = postgres
API_WRITE_DB_CONNECTION_PASSWORD = password
API_WRITE_DB_CONNECTION_PORT = 5433

DJANGO_SECRET_KEY = django-insecure-....