version: "3.7"

networks:
  fluidefi-net:
    driver: bridge

services:
  block_summarizer:
    image: fluidefi-block_summarizer
    build:
      context: ./
      dockerfile: cspr_summarization/services/lp_block_summarizer/Dockerfile
    restart: always
    container_name: fluidefi-block_summarizer
    networks:
      - fluidefi-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - READ_DB_CONNECTION_HOST=$READ_DB_CONNECTION_HOST
      - READ_DB_CONNECTION_DATABASE=$READ_DB_CONNECTION_DATABASE 
      - READ_DB_CONNECTION_USERNAME=$READ_DB_CONNECTION_USERNAME 
      - READ_DB_CONNECTION_PASSWORD=$READ_DB_CONNECTION_PASSWORD 
      - READ_DB_CONNECTION_PORT=$READ_DB_CONNECTION_PORT 
      - WRITE_DB_CONNECTION_HOST=$WRITE_DB_CONNECTION_HOST
      - WRITE_DB_CONNECTION_DATABASE=$WRITE_DB_CONNECTION_DATABASE 
      - WRITE_DB_CONNECTION_USERNAME=$WRITE_DB_CONNECTION_USERNAME 
      - WRITE_DB_CONNECTION_PASSWORD=$WRITE_DB_CONNECTION_PASSWORD 
      - WRITE_DB_CONNECTION_PORT=$WRITE_DB_CONNECTION_PORT

  hourly_summarizer:
    image: fluidefi-hourly_summarizer
    build:
      context: ./
      dockerfile: cspr_summarization/services/lp_hourly_summarizer/Dockerfile
    restart: always
    container_name: fluidefi-hourly_summarizer
    networks:
      - fluidefi-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - READ_DB_CONNECTION_HOST=$READ_DB_CONNECTION_HOST
      - READ_DB_CONNECTION_DATABASE=$READ_DB_CONNECTION_DATABASE 
      - READ_DB_CONNECTION_USERNAME=$READ_DB_CONNECTION_USERNAME 
      - READ_DB_CONNECTION_PASSWORD=$READ_DB_CONNECTION_PASSWORD 
      - READ_DB_CONNECTION_PORT=$READ_DB_CONNECTION_PORT 
      - WRITE_DB_CONNECTION_HOST=$WRITE_DB_CONNECTION_HOST
      - WRITE_DB_CONNECTION_DATABASE=$WRITE_DB_CONNECTION_DATABASE 
      - WRITE_DB_CONNECTION_USERNAME=$WRITE_DB_CONNECTION_USERNAME 
      - WRITE_DB_CONNECTION_PASSWORD=$WRITE_DB_CONNECTION_PASSWORD 
      - WRITE_DB_CONNECTION_PORT=$WRITE_DB_CONNECTION_PORT 
      - FORCE_RECALCULATE_START_HOUR=$FORCE_RECALCULATE_START_HOUR
